body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.register-container {
  background-color: #e0f7fa;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.register-container input, .register-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .error {
  color: red;
  margin-bottom: 20px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #004d40;
}
